<H1>About the Noma Baseball DataBase </H1>

<P>Purpose: The purpose of this database is to keep track of baseball stats.
    We assume that every player on the team has stats in at least one of the tables.
    This database is meant for a baseball team to add individual player game records and calculate overall player data.
    The big idea of this database is to represent a player and team’s progress over a season and easily access the tables’ data.
</P>
<br/>
<p>
    This data
</p>
<a href="/images/nomabaseballERdiagram.png"> My ER Diagram</a>
<a href="/images/nomaBaseballRelationSchema.png"> My Relational Schema Diagram</a>
